@import 'node_modules/bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* WebKit */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(28, 28, 28);
}

/* Firefox */
::-moz-scrollbar {
    width: 5px;
    height: 5px;
}

::-moz-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 3px;
}

::-moz-scrollbar-track {
    background-color: rgb(28, 28, 28);
}